.activity-container {
  position: sticky;
  padding-top: 20px;
  top: 0;
}
.activity-container img{
     width: 60px;
     height: 60px;
     border-radius: 30px;
}
.profile-container{
     display: flex;
     margin: 10px 0 0 15px;
}
.name{
     font-size: 22px;
     margin: 5px 0 0 10px;
     font-weight: 500;
}
.location{
     margin-top: 0;
     margin-left: 10px;
}

.health-details{
     display: flex;
     justify-content: space-between;
     margin: 17px;
     background-color: white;
     padding: 8px 15px;
     border-radius: 10px;
}
.health-details p{
     margin: 0;
     text-align: center;
}
.data{
     font-size: 20px;
     font-weight: 600;
     color: blueviolet;
}
.health-details span{
     font-size: 17px;
     font-weight: 400;
     color: black;
}

.break-header, .exercise-header{
     margin-left: 20px;
     font-size: 22px;
     font-weight: 500;
}
.break-minutes{
     display: flex;
     justify-content: space-between;
     margin: 17px;
     background-color: white;
     padding: 10px 15px;
     border-radius: 10px;
}
.break-minutes p{
     background-color: rgb(61, 61, 255);
     color: white;
     border-radius: 25px;
     margin: 0;
     padding: 10px;
}
.exercise-time, .break-time{
     display: flex;
     justify-content: space-between;
     margin: 17px;
     background-color: white;
     padding: 15px 10px;
     border-radius: 10px;
}
.exercise-time p{
     margin: 0;
}
.break-time p{
     margin: 0;
}
.completed-btn{
     display: flex;
     justify-content: center;
     background-color: rgb(61, 61, 255);
     color: white;
     margin: 20px 17px;
     border-radius: 12px;
}
.completed-btn p{
     margin-bottom: 0;
     margin: 13px 0;
}