.exercise-card{
     border: 1px solid #95A0A7;
     border-radius: 8px;
}
.exercise-card img {
  width: 300px;
  /* height: 200px; */
  border-radius: 10px;
  margin: 15px;
}
.exercise-details h6{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #0e161a;
  margin: 0;
}
.exercise-btn-container{
     display: flex;
     justify-content: center;
}
.exercise-btn{
     background-color: blueviolet;
     color: white;
     border: none;
     padding: 7px 70px;
     font-size: 20px;
     border-radius: 5px;
}
.exercise-details{
     padding: 15px;
}