
.exercise-details h6{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #0e161a;
  margin: 0;
}
.exercise-btn-container{
     display: flex;
     justify-content: center;
}
.exercise-btn{
     background-color: blueviolet;
     color: white;
     border: none;
     padding: 7px 70px;
     font-size: 20px;
     border-radius: 5px;
}