.home-container{
     display: grid;
     grid-template-columns: 3fr 2fr;
}
.activity-container-main{
     background-color: aliceblue;
     margin-right: 20px;
     border-radius: 8px;
     padding-bottom: 20px;
}